.container {
	text-align: center
}

#name-container {
	background-color: #82BDFF;
}

#name-div {
	background-color: #82BDFF;
	display: inline-block;
}

#cmsc-container {
	background-color: #76CAE8;
}

#cmsc-div {
	background-color: #76CAE8;
	display: inline-block;
}

#ge-container {
	background-color: #8FFFFF;
}

#ge-div {
	background-color: #8FFFFF;
	display: inline-block;
}

#pl-container {
	background-color: #76E8C8;
}

#pl-div {
	background-color: #76E8C8;
	display: inline-block;
}

#food-container {
	background-color: #82FFB8;
}

#food-div {
	background-color: #82FFB8;
	display: inline-block;
}

#hobbies-container {
	background-color: #3FE8CC;
}

#hobbies-container-div {
	background-color: #3FE8CC;
	display: inline-block;
}

.h1 {
	text-align: center;
}

.h2 {
	text-align: center;
}

.h3 {
	text-align: center;
}

.t {
	text-align: center;
}