#name-div {
	background-color: #AFEEEE;
}

#cmsc-div {
	background-color: #FFA8E8;
}

#ge-div {
	background-color: #8FFFFF;
}

#pl-div {
	background-color: #CCBA5E;
}

#food-div {
	background-color: #B3A45B;
}

.h1 {
	text-align: center;
}

.h2 {
	text-align: center;
}

.h3 {
	text-align: center;
}

.t {
	text-align: center;
}